/*ODD stuff*/

/* TESTING HAMBURGER BUTTON*/

.hero-title-box {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/*.navigation-menu {*/
/*    display: block;*/
/*    !*overflow: hidden;*!*/
/*    position: relative;*/
/*    box-sizing: content-box;*/
/*}*/

/*.nav-menu-links a {*/
/*    !*float: left;*!*/
/*    display: block;*/
/*    background-color: #000;*/
/*    margin: 0;*/
/*}*/

.icon {
    display: none;
}

html {
    height: 100%;
}

/*END ODD STUFF*/

body {
    background-color: #E4EBF3FF;
    font-family: 'Open Sans', sans-serif;
    color: #6a859c;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 38px;
    line-height: 44px;
    font-weight: 700;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #676770;
    font-size: 32px;
    line-height: 36px;
    font-weight: 300;
    text-align: center;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: #676770;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 7px;
    text-transform: uppercase;
}

h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
}

.bold-text {
    font-weight: 500;
    text-align: left;
}

.button {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding: 12px 30px;
    border-radius: 4px;
    background-color: #192024;
    transition: background-color 300ms ease;
    color: #fff;
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover {
    background-color: #8ac2b6;
}

.button-primary {
    padding: 12px 25px;
    background-color: #20ac99;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.button-primary:hover {
    background-color: #32343a;
    color: #fff;
}

.button-primary:active {
    background-color: #43464d;
}

.container {
    width: 100%;
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
}

.form {
    margin-top: 10px;
}

.form-field {
    height: 45px;
    margin-bottom: 17px;
    border: 0 solid #000;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(64, 64, 71, 0.3);
}

.form-field.text-area {
    height: 110px;
}

/*.footer {*/
/*    padding-top: 35px;*/
/*    padding-bottom: 35px;*/
/*}*/

.footer.center {
    border-top: 1px solid #dbdbdb;
    background-color: #383838;
    text-align: center;
}

.footer-text {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #9e9e9e;
    font-size: 16px;
}

.footer-link {
    display: block;
    margin-bottom: 6px;
    padding-bottom: 10px;
    /*border-bottom: 1px solid #d5d5e0;*/
    /*color: #668cad;*/
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    margin-top: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    color: #fff;
}

.footer-link:hover {
    color: #20ac99;
}

/*.heading {*/
/*    background-image: url('../images/dcr_schrift_white.png');*/
/*    background-position: 0 0;*/
/*    background-size: auto;*/
/*}*/

.hero-section {
    padding-top: 242px;
    padding-bottom: 242px;
}

.hero-section.centered {
    padding-top: 250px;
    padding-bottom: 250px;
    border: 1px none transparent;
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#8ac2b6), to(rgba(46, 157, 255, 0.22))), url('../images/dcr_Footer.jpg');*/
    /*background-image: linear-gradient(180deg, #8ac2b6, rgba(46, 157, 255, 0.22)), url('../images/dcr_Footer.jpg');*/
    background-position: 0 0, 50% 30%;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
    color: #8ac2b6;
    text-align: center;
}

.hero-subheading {
    margin-bottom: 30px;
    color: #000;
    font-size: 25px;
    line-height: 25px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 1px 1px 6px #fff;
}

.hero-image {
    width: 100%;
    margin-top: 50px;
}

.hero-image.shadow-two {
    background-color: #96c0b6;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(46%, #96c0b6), to(#fff));
    background-image: linear-gradient(180deg, #96c0b6 46%, #fff);
    -webkit-filter: grayscale(33%);
    filter: grayscale(33%);
}

.hero-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.hollow-button {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 4px;
    -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
    transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
    color: #fff;
    line-height: 21px;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

.hollow-button:hover {
    border-color: #20ac99;
    color: #20ac99;
}

.hollow-button.all-caps {
    text-transform: uppercase;
}

.hollow-button.all-caps:hover {
    border-color: #8ac2b6;
    color: #fff;
}

.image {
    display: inline-block;
    overflow: visible;
    margin-top: 0;
    padding: 10px 10px 10px 20px;
    float: none;
    clear: none;
    -o-object-fit: fill;
    object-fit: fill;
}

.info-icon {
    float: left;

}

.nav-container {
    margin-left: auto;
    max-width: 940px;
}

.navigation-bar {
    background-color: #000;
    font-family: Oswald, sans-serif;
    color: #405c54;
}

/*.navigation-bar:focus {*/
/*    color: #67676f;*/
/*}*/

.navigation-link {
    margin-top: 10px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    font-family: Oswald, sans-serif;
    color: #676770;
    font-size: 20px;
}

.navigation-link:hover {
    color: #b4ddd4;
}

.navigation-link.--current {
    /*margin-top: 10px;*/
    font-family: Oswald, sans-serif;
    color: #bec3c7;
    font-size: 20px;
    text-align: left;
    text-decoration: none;
}

.navigation-link.--current:hover {
    color: #8ac2b6;
}

.section {
    position: relative;
    /*padding: 80px 10px 20px;*/
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#8ac2b6));
    background-image: linear-gradient(180deg, #000, #8ac2b6);
    color: #fff;
    text-align: center;
}

.section.accent {
    background-color: #192024;
}

.section-heading {
    margin-top: 0;
    margin-bottom: 16px;
}

.section-heading.centered {
    font-family: Oswald, sans-serif;
    color: #95bfb5;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 1px 1px 6px #000;
}

.section-heading.centered.white {
    color: #fff;
}

.section-subheading.center {
    font-family: Oswald, sans-serif;
    color: #8e8e9c;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.team-heading {
    margin-bottom: 30px;
    font-family: Oswald, sans-serif;
    color: #f8f8f8;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 1px 1px 6px #000;
}

.testimonial-column-light {
    position: relative;
    padding: 80px 30px;
    border-bottom: 1px solid #e4ebf3;
}

.centered-heading {
    margin-bottom: 16px;
    font-family: Oswald, sans-serif;
    color: #96c0b6;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.testimonial-grid-two {
    display: -ms-grid;
    display: grid;
    margin-top: 50px;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.testimonial-card-two {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 32px 16px 16px;
    /*-webkit-box-orient: vertical;*/
    /*-webkit-box-direction: normal;*/
    /*-webkit-flex-direction: column;*/
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: #e4ebf3;
    /*-webkit-transition: flex-grow 200ms ease, -webkit-box-flex 200ms ease, -webkit-flex-grow 200ms ease;*/
    /*transition: flex-grow 200ms ease, -webkit-box-flex 200ms ease, -webkit-flex-grow 200ms ease;*/
    /*transition: flex-grow 200ms ease;*/
    /*transition: flex-grow 200ms ease, -webkit-box-flex 200ms ease, -webkit-flex-grow 200ms ease, -ms-flex-positive 200ms ease;*/
}

.testimonial-text-two {
    margin-bottom: 52px;
}

.testimonial-info-three {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 24px 16px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f5f7fa;
}

.testimonial-image {
    width: 60px;
    height: 60px;
    margin-right: 16px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.testimonial-main-heading {
    margin-bottom: 2px;
    font-family: Oswald, sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
}

.footer-subscribe {
    position: relative;
    padding: 50px 30px 40px;
    border-bottom: 1px solid #e4ebf3;
    background-position: 0 0;
    background-size: auto;
}

.footer-form-two {
    margin-bottom: 40px;
    padding: 64px;
    background-color: #f5f7fa;
}

.footer-form-container-two {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.footer-form-title {
    font-size: 24px;
    line-height: 32px;
}

.footer-form-block-two {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-form-input {
    width: 460px;
    height: 48px;
    margin-bottom: 0;
    padding: 12px 180px 12px 20px;
    border: 1px none #000;
}

.button-primary-2 {
    padding: 12px 25px;
    background-color: #20ac99;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.button-primary-2:hover {
    background-color: #32343a;
    color: #fff;
}

.button-primary-2:active {
    background-color: #43464d;
}

.button-primary-2.footer-form-button {
    position: absolute;
    right: 8px;
    padding: 8px 18px;
}

.footer-wrapper-three {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-block-three {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: -20px;
    margin-left: -20px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-link-two {
    margin-right: 20px;
    margin-left: 20px;
    color: #f0f0f0;
    text-decoration: none;
}

.footer-link-two:hover {
    color: #f0f0f0;
}

.footer-social-block-three {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: -32px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.footer-social-link-three {
    margin-left: 32px;
}

.footer-divider {
    width: 100%;
    height: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #e4ebf3;
}

.footer-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.footer-copyright {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    color: #fff;
}

.footer-section {
    position: relative;
    padding: 80px 30px 40px;
    border-bottom: 1px solid #e4ebf3;
    background-color: #404047;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
}

.footer-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.footer-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.footer-title {
    color: #8ac2b6;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
}

/*.footer-link {*/
/*    display: block;*/
/*    margin-top: 20px;*/
/*    -webkit-box-flex: 0;*/
/*    -webkit-flex: 0 auto;*/
/*    -ms-flex: 0 auto;*/
/*    flex: 0 auto;*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*}*/

/*.footer-link:hover {*/
/*    color: #f0f0f0;*/
/*}*/

.footer-form {
    width: 315px;
    max-width: 100%;
    margin-bottom: 0;
}

.footer-form-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 24px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-form-field {
    height: 48px;
    margin-bottom: 0;
    padding: 12px 16px;
    border-style: solid;
    border-width: 1px;
    border-color: #a6b1bf;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    font-size: 14px;
    line-height: 22px;
}

.footer-form-field:hover {
    border-color: #76879d;
}

.footer-form-field:focus {
    border-color: #76879d;
}


.footer-form-submit {
    width: 50px;
    height: 48px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #1a1b1f;
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.footer-form-submit:hover {
    background-color: #20ac99;
}

.footer-social-block-two {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-left: -12px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-social-link {
    margin-left: 12px;
}

.team-circles {
    position: relative;
    padding: 80px 30px;
    border-bottom: 1px solid #e4ebf3;
}

.team-grid {
    display: -ms-grid;
    display: grid;
    margin-top: 50px;
    grid-auto-columns: 1fr;
    grid-column-gap: 64px;
    grid-row-gap: 56px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

.team-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.team-member-image {
    width: 270px;
    height: 270px;
    margin-bottom: 24px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.team-member-name {
    margin-bottom: 6px;
    font-family: Oswald, sans-serif;
    color: #404047;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
}

.team-member-position {
    margin-bottom: 24px;
    font-family: Oswald, sans-serif;
    color: #192024;
}

.text-block {
    font-family: Oswald, sans-serif;
}

.text-block-2 {
    font-family: Oswald, sans-serif;
}

.text-block-3 {
    font-family: Oswald, sans-serif;
}

.image-2 {
    opacity: 1;
}

.image-3 {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.text-block-4 {
    padding-right: 50px;
    color: #bec3c7;
}

.bold-text-2 {
    color: #20ac99;
    text-decoration: underline;
}

.bold-text-3 {
    color: #20ac99;
}

.link {
    color: #20ac99;
}

.link-2 {
    color: #20ac99;
}

.hero-heading-right {
    position: relative;
    padding: 80px 30px;
    border-bottom: 1px solid #e4ebf3;
    background-color: #f5f7fa;
}

.margin-bottom-24px-3 {
    margin-bottom: 24px;
    font-family: Roboto, sans-serif;
}


.sponsors-section {
    position: relative;
    padding: 60px 30px;
    border-bottom: 1px solid #e4ebf3;
}

.sponsors-title {
    font-family: Oswald, sans-serif;
    color: #8ac2b6;
    font-size: 36px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.sponsors-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 750px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.image-5 {
    position: static;
}

.section-2 {
    padding-top: 140px;
    padding-bottom: 140px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8ac2b6), to(transparent)), url('../images/slider_04.jpg');
    background-image: linear-gradient(180deg, #8ac2b6, transparent), url('../images/slider_04.jpg');
    background-position: 0 0, 0 0;
    background-size: auto, cover;
    opacity: 1;
    outline-offset: 0;
    outline: #6a859c none 3px;
    -o-object-fit: fill;
    object-fit: fill;
}

.events-heading {
    font-family: Oswald, sans-serif;
    color: #f0f0f0;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 1px 1px 6px #000;
}

.love-banner {
    padding-top: 250px;
    padding-bottom: 250px;
    background-image: url('../images/derbylove.jpg');
    background-position: 0 50%;
    background-size: cover;
    background-attachment: scroll;
}

.hero-members {
    padding-top: 140px;
    padding-bottom: 140px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8ac2b6), to(transparent)), url('../images/slider_02.jpg');
    background-image: linear-gradient(180deg, #8ac2b6, transparent), url('../images/slider_02.jpg');
    background-position: 0 0, 50% 50%;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
}

.image-6 {
    position: static;
    display: inline-block;
    overflow: visible;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    float: none;
    clear: none;
    -o-object-fit: fill;
    object-fit: fill;
}

.container-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.hero-about {
    padding-top: 140px;
    padding-bottom: 140px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8ac2b6), to(transparent)), url('../images/slider_01.jpg');
    background-image: linear-gradient(180deg, #8ac2b6, transparent), url('../images/slider_01.jpg');
    background-position: 0 0, 0 40%;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
}

.paragraph {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.button-primary-3 {
    padding: 12px 25px;
    background-color: #1a1b1f;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.button-primary-3:hover {
    background-color: #32343a;
    color: #fff;
}

.button-primary-3:active {
    background-color: #43464d;
}

.text-block-5 {
    font-family: Oswald, sans-serif;
    color: #51a899;
    text-transform: uppercase;
}

.container-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px;
    padding-right: 0;
    padding-bottom: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -o-object-fit: none;
    object-fit: none;
}

.image-7 {
    position: static;
    display: inline;
    text-align: left;
    mix-blend-mode: normal;
    -o-object-fit: fill;
    object-fit: fill;
}

.image-8 {
    max-width: 60%;
    margin-bottom: 20px;
}

.heading-4 {
    font-family: Oswald, sans-serif;
    color: #8ac2b6;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 5px;
}

.paragraph-2 {
    font-family: Roboto, sans-serif;
    color: #404047;
}

.nav-bar {
    overflow: hidden;
    background-color: #000000;
    position: relative;
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

@media screen and (min-width: 1240px) and (max-width: 1600px) {


    .nav-bar .nav-container {
        display: block;

    }

    .fa-bars:before {
        display: none;
        /*content: "\f0c9";*/
    }

    .nav-menu-icon {
        display: none;
    }

    .navigation-menu {
        display: block;
    }

    .team-member-image {
        width: 270px;
        height: 270px;
        max-height: none;
    }

    .section-2 {
        padding-top: 150px;
        padding-bottom: 150px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#8ac2b6), to(transparent));
        background-image: linear-gradient(180deg, #8ac2b6, transparent);
        background-position: 0 0, 0 0;
        background-size: auto, cover;
        background-attachment: scroll, fixed;
    }

    .love-banner {
        display: block;
        padding-top: 300px;
        padding-bottom: 350px;
    }
}

@media screen and (min-width: 991px) {

    .nav-menu-links a {
        float: right;
        display: block;
        background-color: #000;
        margin: 0;
    }
    .nav-bar .nav-container {
        display: block;
    }

    .navigation-link {
        color: hsla(0, 0%, 100%, 0.52);
    }
    .fa-bars:before {
        display: none;
        /*content: "\f0c9";*/
    }
    .nav-menu-icon {
        display: none;
    }

    /*.navigation-link.--current {*/
    /*    color: #fff;*/
    /*}*/

    /*.hamburger-button.w--open {*/
    /*    background-color: #000000;*/
    /*}*/

    .navigation-menu {
        background-color: rgba(0, 0, 0, 0);
    }

    .hero-section.centered {
        padding-top: 144px;
        padding-bottom: 144px;
    }

    .container {
        max-width: 728px;
    }

    .hero-wrapper {
        margin-bottom: -40px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    .hero-split {
        max-width: 100%;
        margin-bottom: 40px;
    }

    .testimonial-grid-two {
        grid-column-gap: 30px;
    }

    .testimonial-info-three {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .footer-form-two {
        padding: 40px;
    }

    .footer-form-title {
        margin-right: 15px;
    }

    .footer-form-input {
        width: 400px;
        padding-right: 180px;
    }

    .footer-wrapper-three {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    .footer-social-block-three {
        margin-top: 40px;
    }

    .footer-wrapper {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .footer-form {
        width: 100%;
        margin-top: 40px;
    }

    .footer-form-container {
        max-width: 350px;
    }

    .team-grid {
        grid-column-gap: 40px;
    }

    .team-member-image {
        width: 190px;
        height: 190px;
    }

    .sponsors-title {
        margin-bottom: 32px;
    }

    .love-banner {
        padding-top: 170px;
        background-position: 30% 50%;
        background-attachment: scroll;
    }

    .gallery-wrapper {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 767px) {

    /* TESTING HAMBURGER BUTTON*/
    /*.nav-menu-links a:not(:first-child) {display: none;}*/

    .nav-menu-links  {display: none;}

    .icon {
        /*float: top;*/
        display: block;
    }

    .nav-menu-links a {
        /*float: left;*/
        display: block;
        background-color: #000;
        margin: 0;
    }

    .nav-menu-links.responsive {position: relative;}
    .nav-menu-links.responsive .icon {
        position: relative;
        right: 0;
        top: 0;
    }
    .nav-menu-links.responsive a {
        float: right;
        display: block;
        text-align: left;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    /*.nav-bar .nav-container {*/
    /*    display: none;*/
    /*}*/
    /* Style the hamburger menu */
    .icon .nav-menu-icon {
        margin-top: 50px;
        margin-right: 50px;
        background: #000000;
        color: #ffffff;
        font-size: 24px;
        /*display: block;*/
        position: absolute;
        right: 0;
        top: 0;
    }

    /*.nav-menu-links {*/
    /*    position: relative;*/
    /*    float: right;*/
    /*    display: block;*/
    /*    box-sizing: border-box;*/
    /*    background-color: #000;*/
    /*    margin: 0;*/
    /*}*/

    .button.full-width {
        margin-right: auto;
        margin-left: auto;
    }

    .button.tab {
        font-size: 12px;
    }

    .white-box {
        margin-bottom: 30px;
    }

    .hero-section.centered {
        padding-top: 119px;
        padding-bottom: 119px;
    }

    .team-heading {
        margin-bottom: 15px;
        font-size: 50px;
    }

    .hero-subheading {
        font-size: 18px;
    }

    .form-field.text-area {
        display: block;
    }

    .hero-stack {
        padding: 60px 15px;
    }

    .hero-heading-left {
        padding: 60px 15px;
    }

    .testimonial-column-light {
        padding: 60px 15px;
    }

    .testimonial-grid-two {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .testimonial-info-three {
        /*-webkit-box-orient: horizontal;*/
        /*-webkit-box-direction: normal;*/
        /*-webkit-flex-direction: row;*/
        /*-ms-flex-direction: row;*/
        flex-direction: row;
    }

    .footer-subscribe {
        padding-right: 15px;
        padding-left: 15px;
    }

    .footer-form-container-two {
        /*-webkit-box-orient: vertical;*/
        /*-webkit-box-direction: normal;*/
        /*-webkit-flex-direction: column;*/
        /*-ms-flex-direction: column;*/
        flex-direction: column;
        /*-webkit-box-pack: start;*/
        /*-webkit-justify-content: flex-start;*/
        /*-ms-flex-pack: start;*/
        justify-content: flex-start;
        /*-webkit-box-align: start;*/
        /*-webkit-align-items: flex-start;*/
        /*-ms-flex-align: start;*/
        align-items: flex-start;
    }

    .footer-form-title {
        margin-right: 0;
    }

    .footer-form-block-two {
        width: 100%;
        margin-top: 20px;
    }

    .footer-form-input {
        width: 100%;
    }

    .footer-block-three {
        /*-webkit-box-orient: vertical;*/
        /*-webkit-box-direction: normal;*/
        /*-webkit-flex-direction: column;*/
        /*-ms-flex-direction: column;*/
        flex-direction: column;
        /*-webkit-box-pack: start;*/
        /*-webkit-justify-content: flex-start;*/
        /*-ms-flex-pack: start;*/
        justify-content: flex-start;
        /*-webkit-flex-wrap: wrap;*/
        /*-ms-flex-wrap: wrap;*/
        flex-wrap: wrap;
        /*-webkit-box-align: start;*/
        /*-webkit-align-items: flex-start;*/
        /*-ms-flex-align: start;*/
        align-items: flex-start;
    }

    /*.footer-link-two {*/
    /*    margin-bottom: 10px;*/
    /*}*/

    .footer-social-block-three {
        margin-top: 10px;
    }

    .footer-bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .footer-copyright {
        font-size: 14px;
        line-height: 20px;
    }

    .footer-section {
        padding-right: 15px;
        padding-left: 15px;
    }

    .footer-social-block-two {
        margin-top: 20px;
    }

    .footer-social-link {
        margin-left: 20px;
    }

    .team-circles {
        padding: 60px 15px;
    }

    .team-grid {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .hero-heading-right {
        padding: 60px 15px;
    }

    .sponsors-section {
        padding: 60px 15px;
    }

    .sponsors-wrapper {
        margin-bottom: -20px;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .sponsors-image {
        margin-right: 20px;
        margin-bottom: 30px;
        margin-left: 20px;
    }

    .love-banner {
        padding-top: 60px;
    }

    .gallery-overview {
        padding: 60px 15px;
    }
}

@media screen and (min-width: 479px) {
    /* TESTING HAMBURGER BUTTON*/
    /*.nav-menu-links.responsive {position: relative;}*/

    .nav-menu-links a {
        /*float: left;*/
        display: block;
        background-color: #000;
        margin: 0;
    }

    .nav-menu-links.responsive .icon {
        position: relative;
        right: 0;
        top: 0;
    }
    .nav-menu-links.responsive a {
        /*float: none;*/
        display: block;
        text-align: left;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .nav-bar .nav-container {
        display: none;
    }
    /* Style the hamburger menu */
    .icon .nav-menu-icon {
        margin-top: 50px;
        margin-right: 50px;
        background: #000000;
        color: #ffffff;
        font-size: 24px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .button {
        margin-bottom: 25px;
    }

    .navigation-bar {
        /*display: block;*/
        /*float: none;*/
        /*clear: none;*/
        /*grid-auto-columns: 1fr;*/
        /*grid-column-gap: 16px;*/
        /*grid-row-gap: 16px;*/
        /*grid-template-columns: 1fr 1fr;*/
        /*grid-template-rows: auto auto;*/
    }

    /*.navigation-menu {*/
    /*    -webkit-transition: opacity 200ms ease;*/
    /*    transition: opacity 200ms ease;*/
    /*}*/

    .hero-section.centered {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .section-subheading.center {
        line-height: 30px;
    }

    .container {
        max-width: none;
    }

    .centered-heading {
        margin-bottom: 24px;
    }

    .footer-form-two {
        padding: 20px;
    }

    .footer-form-block-two {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    .footer-form-input {
        margin-bottom: 10px;
        padding-right: 20px;
    }

    .button-primary-2.footer-form-button {
        position: relative;
        right: 0;
    }

    .footer-bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    .footer-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .footer-block {
        margin-top: 40px;
    }

    .footer-social-block-two {
        margin-top: 20px;
    }

    .team-grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .sponsors-image {
        margin-right: 10px;
        margin-left: 10px;
    }

    .love-banner {
        width: auto;
        height: auto;
        padding-top: 0;
        padding-bottom: 170px;
        -o-object-fit: fill;
        object-fit: fill;
    }

    .gallery-wrapper {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}



.nav-link {
    position: relative;
    display: inline-block;
    /*vertical-align: top;*/
    text-decoration: none;
    color: #676770;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.nav-link.--current {
    color: #a2c5bb;
}

.nav-bar {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

/*.nav-bar:before {*/
/*    content: " ";*/
/*    display: table;*/
/*    grid-column-start: 1;*/
/*    grid-row-start: 1;*/
/*    grid-column-end: 2;*/
/*    grid-row-end: 2;*/
/*}*/
.nav-bar:after {
    clear: both;
}
/*.nav-bar .w-row {*/
/*    margin-left: -10px;*/
/*    margin-right: -10px;*/
/*}*/
/*.w-row:before,*/
/*.w-row:after {*/
/*    content: " ";*/
/*    display: table;*/
/*    grid-column-start: 1;*/
/*    grid-row-start: 1;*/
/*    grid-column-end: 2;*/
/*    grid-row-end: 2;*/
/*}*/
/*.w-row:after {*/
/*    clear: both;*/
/*}*/
/*.w-row .w-row {*/
/*    margin-left: 0;*/
/*    margin-right: 0;*/
/*}*/

/*.w-hidden-main {*/
/*    display: none !important;*/
/*}*/