body {
    background-color: #E4EBF3FF;
    font-family: 'Open Sans', sans-serif;
    color: #6a859c;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

/*#spacer {*/
/*    margin-top: 100px;*/
/*    position: absolute;*/
/*}*/

/*HEADER STYLING*/
.nav-header {
    background-color: #000;
    font-family: Oswald, sans-serif;
    color: #405c54;
    width: 100%;
}

.container {
    /*width: 100%;*/
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
}

.nav-bar-image {
    display: inline-block;
    width: 130px;
    padding: 10px 10px 10px 20px;
    clear: none;
    vertical-align: middle;
}

.nav-bar-section {
    position: relative;
    /*padding: 0px;*/
    height: 100px;
}

.nav-bar-links {
    padding-top: 50px;
    /*padding-right: 20px;*/
    /*padding-left: 30px;*/
    float: right;
}

.navigation-link {
    margin-top: 10px;
    text-align: left;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    transition: all 300ms ease-in-out;
    font-family: Oswald, sans-serif;
    color: #676770;
    font-size: 20px;
    text-decoration: none;
}

.navigation-link:hover {
    color: #b4ddd4;
}

.navigation-link.--current {
/*margin-top: 10px;*/
font-family: Oswald, sans-serif;
    color: #bec3c7;
    font-size: 20px;
    text-align: left;
}

.navigation-link.--current:hover {
    color: #8ac2b6;
}

.nav-bar-links a.menu-icon {
    display:none;
}

/*Added some padding so the page content doesn't scroll down if open in small window*/
.nav-bar-section + section {
    padding-top: 120px;
}

.sticky-nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
}

/*Selects the first section that comes after the .sticky-nav-bar class*/
.sticky-nav-bar + section {
    padding-top: 100px;
}

/*FOOTER STYLiNG*/

.footer {
    background-color: #404047;
}

.footer-logo {
    width: 180px;
}
.footer-upper-block {
    display: flex;
    justify-content: space-evenly;
}

.footer-links-wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.footer-section {
    position: relative;
    padding: 80px 30px 40px;
    /*border-bottom: 1px solid #e4ebf3;*/
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    justify-content: space-between;
}

.footer-block {
    /*justify-content: space-around;*/
    padding-left: 50px;
    display: flex;
    position: relative;
    flex-direction: column;
    /*justify-content: flex-start;*/
    align-items: flex-start;
}

.footer-title {
    color: #8ac2b6;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
}

.footer-link {
    transition: all 300ms ease-in-out;
    display: block;
    margin-top: 20px;
    flex: 0 auto;
    color: #fff;
    text-decoration: none;
}

.footer-copyright {
    margin-top: 5px;
    color: #fff;
    text-decoration: none;
}

.footer-link-two {
    transition: all 300ms ease-in-out;
    display: block;
    margin-top: 5px;
    margin-right: 10px;
    /*-webkit-box-flex: 0;*/
    /*-webkit-flex: 0 auto;*/
    /*-ms-flex: 0 auto;*/
    flex: 0 auto;
    color: #fff;
    text-decoration: none;
}

.footer-link:hover {
    color: #a2c5bb;
}

.footer-link-two:hover {
    color: #a2c5bb;
}

.footer-divider {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #e4ebf3;
    box-sizing: border-box;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}
.footer-bottom-left {
    display: flex;
}

.footer-social-block {
    display: flex;
    margin-top: 0;
    margin-left: -12px;
    justify-content: flex-start;
    align-items: center;
}

.footer-social-link {
    margin-left: 12px;
}

#email-icon {
    filter: invert(100%);
}



@media screen and (min-width: 1280px) and (max-width: 1600px) and (min-resolution: 192dpi) {

}

@media screen and  (min-device-width: 800px) and (max-device-width: 1280px) {

}

@media screen and (max-width: 740px) {

    .nav-bar-section {
        background-color: #000000;
        width: 100%;
    }

    /*Reference from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp*/
    .menu-icon {
        margin-top: -20px;
        text-align: left;
        padding: 20px;
        color: #ffffff;
        font-size: 24px;
        display: block;
        position: relative;
        right: 0;
        top: 0;
    }

    .nav-bar-links a {display: none;}

    .nav-bar-links.responsive {
        width: 100%;
        padding-bottom: 30px;
        margin-top: -50px;
        background-color: #000000;
    }

    .nav-bar-links.responsive .navigation-link {
        position: relative;
        padding-top: 30px;
        padding-bottom: 0;
    }

    .nav-bar-links.responsive .menu-icon{
        position: absolute;
        /*right: 20px;*/
        top: 50px;
    }

    .nav-bar-links.responsive a {
        display: block;
        text-align: left;
    }

    .nav-bar-links a.menu-icon {
        float: right;
        display: block;
    }

}

