/*--------------------------------------------------------------------------------*/
/*------GLOBAL SITE STYLING-------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

body {
    background-color: #E4EBF3FF;
    font-family: 'Open Sans', sans-serif;
    color: #6a859c;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 38px;
    line-height: 44px;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #676770;
    font-size: 32px;
    line-height: 36px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: #676770;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 7px;
    text-transform: uppercase;
}

h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

h5 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #676770;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
}

h6 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
}

a {
    text-decoration-line: none;
}

.button {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding: 12px 30px;
    border-radius: 4px;
    background-color: #192024;
    transition: background-color 300ms ease;
    color: #fff;
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover {
    background-color: #8ac2b6;
}

.hollow-button {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
    color: #fff;
    line-height: 21px;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

.hollow-button:hover {
    border-color: #a2c5bb;
    color: #a2c5bb;
}

/*--------------------------------------------------------------------------------*/
/*------HEADER STYLING------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

.nav-header {
    background-color: #000;
    font-family: Oswald, sans-serif;
    color: #405c54;
    width: 100%;
}

.container {
    /*width: 100%;*/
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
}

.nav-bar-image {
    display: inline-block;
    width: 130px;
    padding: 10px 10px 10px 20px;
    clear: none;
    vertical-align: middle;
}

.nav-bar-section {
    position: relative;
    /*padding: 0px;*/
    height: 100px;
}

.nav-bar-links {
    padding-top: 50px;
    /*padding-right: 20px;*/
    /*padding-left: 30px;*/
    float: right;
}

.navigation-link {
    margin-top: 10px;
    text-align: left;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    transition: all 300ms ease-in-out;
    font-family: Oswald, sans-serif;
    color: #676770;
    font-size: 20px;
    text-decoration: none;
}

.navigation-link:hover {
    color: #b4ddd4;
}

.navigation-link.--current {
    /*margin-top: 10px;*/
    font-family: Oswald, sans-serif;
    color: #bec3c7;
    font-size: 20px;
    text-align: left;
}

.navigation-link.--current:hover {
    color: #8ac2b6;
}

.nav-bar-links a.menu-icon {
    display:none;
}

/*Added some padding so the page content doesn't scroll down if open in small window*/
.nav-bar-section + section {
    padding-top: 120px;
}

.sticky-nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
}

/*Selects the first section that comes after the .sticky-nav-bar class*/
/*Higher padding for home hero*/
.sticky-nav-bar + section.home {
    padding-top: 350px;
}

/*General smaller hero for other pages*/
.sticky-nav-bar + section.hero {
    padding-top: 250px;
}

/*--------------------------------------------------------------------------------*/
/*------HERO BANNERS STYLING------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

.home-hero-section{
    padding-top: 250px;
    padding-bottom: 250px;
    background-image: linear-gradient(180deg, #8ac2b6, rgba(46, 157, 255, 0.22)), url('../images/dcr_Footer.jpg');
    background-position: 0 0, 50% 30%;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
    color: #8ac2b6;
    text-align: center;
}

.hero-heading {
    margin-bottom: 30px;
    font-family: Oswald, sans-serif;
    color: #f8f8f8;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 1px 1px 6px #000;
}

.hero-subheading {
    margin-bottom: 30px;
    color: #000;
    font-size: 25px;
    line-height: 25px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 1px 1px 6px #fff;
}

.hero-section {
    padding-top: 140px;
    padding-bottom: 140px;
    background-position: 0 0, 0 40%;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
}

.hero-section.about {
    background-image: linear-gradient(180deg, #8ac2b6, rgba(46, 157, 255, 0.22)), url('../images/slider_01.jpg');
}

.hero-section.members {
    background-image: linear-gradient(180deg, #8ac2b6, rgba(46, 157, 255, 0.22)), url('../images/slider_02.jpg');
}

.hero-section.events {
    background-image: linear-gradient(180deg, #8ac2b6, rgba(46, 157, 255, 0.22)), url('../images/slider_04.jpg');
}

/*--------------------------------------------------------------------------------*/
/*------HOME PAGE: CONTENT STYLING------------------------------------------------*/
/*--------------------------------------------------------------------------------*/


.sponsors-section {
    position: relative;
    padding: 50px 30px;
    border-bottom: 1px solid #e4ebf3;
}

.sponsors-row {
    display: flex;
    max-width: 750px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/*--------------------------------------------------------------------------------*/
/*------ABOUT PAGE: CONTENT STYLING-----------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/*SECTION 1*/
.about-content-section-1 {
    padding: 80px 30px;
    font-weight: 300;
    display: flex;
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.content-heading {
    font-family: Oswald, sans-serif;
    color: #8ac2b6;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.content-text {
    margin-bottom: 24px;
    font-family: Roboto, sans-serif;
    color: #404047;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}

.content-links {
    color: #20ac99;
}

.content-text.intro {
    text-align: center;
}

.button-content {
    padding: 12px 25px;
    background-color: #8ac2b6;
    font-family: Roboto, sans-serif;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 4px;
    transition: background-color 300ms ease;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.button-content:hover {
    background-color: #32343a;
    color: #fff;
}

.about-image-1 {
    width: 100%;
    margin-top: 50px;
}

/*SECTION 2*/

.about-content-section-2 {
    padding: 80px 30px;
    background-color: #f5f7fa;
    font-family: Roboto, sans-serif;
}

.section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-split {
    display: flex;
    max-width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/*TESTIMONIALS SECTION*/

.testimonials-aside {
    padding: 80px 30px;
}

.secondary-header {
    margin-bottom: 16px;
    font-size: 32px;
}

.testimonials-grid {
    /*display: -ms-grid;*/
    display: grid;
    margin-top: 50px;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    /*-ms-grid-columns: 1fr 1fr 1fr;*/
    grid-template-columns: 1fr 1fr 1fr;
    /*-ms-grid-rows: auto;*/
    grid-template-rows: auto;
}

/*Ref https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Backgrounds_and_Borders/Box-shadow_generator*/
.testimonial-card {
    display: flex;
    padding: 32px 16px 16px;
    flex-direction: column;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #ffffff;
    box-shadow: 0 0 20px 2px #77a292;
}

.testimonial-text {
    margin-bottom: 40px;
    font-size: 16px;
    color: #1a1b1f;
}

.testimonial-info-box {
    display: flex;
    padding: 24px 16px;
    align-items: center;
    background-color: #f5f7fa;
}

.testimonial-image {
    width: 60px;
    height: 60px;
    margin-right: 16px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-player-name {
    margin-bottom: 2px;
    font-family: Oswald, sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.player-role {
    font-family: Oswald, sans-serif;
}

/*--------------------------------------------------------------------------------*/
/*------FOOTER SECTION STYLING----------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

.footer {
    background-color: #404047;
}

.footer-logo {
    width: 180px;
}

.footer-upper-block {
    display: flex;
    justify-content: space-evenly;
}

.footer-links-wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.footer-section {
    position: relative;
    padding: 80px 30px 40px;
    /*border-bottom: 1px solid #e4ebf3;*/
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    justify-content: space-between;
}

.footer-block {
    /*justify-content: space-around;*/
    padding-left: 50px;
    display: flex;
    position: relative;
    flex-direction: column;
    /*justify-content: flex-start;*/
    align-items: flex-start;
}

.footer-title {
    color: #8ac2b6;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
}

.footer-link {
    transition: all 300ms ease-in-out;
    display: block;
    margin-top: 20px;
    flex: 0 auto;
    color: #fff;
    text-decoration: none;
}

.footer-copyright {
    margin-top: 5px;
    color: #fff;
    text-decoration: none;
}

.footer-link-two {
    transition: all 300ms ease-in-out;
    display: block;
    margin-top: 5px;
    margin-right: 10px;
    flex: 0 auto;
    color: #fff;
    text-decoration: none;
}

.footer-link:hover {
    color: #a2c5bb;
}

.footer-link-two:hover {
    color: #a2c5bb;
}

.footer-divider {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #e4ebf3;
    box-sizing: border-box;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-bottom-left {
    display: flex;
}

.footer-social-block {
    display: flex;
    margin-top: 0;
    margin-left: -12px;
    justify-content: flex-start;
    align-items: center;
}

.footer-social-link {
    margin-left: 12px;
}

#email-icon {
    filter: invert(100%);
}

/*--------------------------------------------------------------------------------*/
/*------MEDIA QUERIES FOR RESPONSIVENESS------------------------------------------*/
/*--------------------------------------------------------------------------------*/

@media screen and (min-width: 1280px) and (max-width: 1600px) and (min-resolution: 192dpi) {

}

@media screen and  (min-device-width: 800px) and (max-device-width: 1280px) {

    /*------CONTENT STYLING-------------------------------------------------------*/

    .sponsors-image {
        margin-right: 20px;
        margin-bottom: 30px;
        margin-left: 20px;
    }

}

@media screen and (max-width: 740px) {

    /*------NAVIGATION BAR STYLING------------------------------------------------*/
    .nav-bar-section {
        background-color: #000000;
        width: 100%;
    }

    /*Reference from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp*/
    .menu-icon {
        margin-top: -20px;
        text-align: left;
        padding: 20px;
        color: #ffffff;
        font-size: 24px;
        display: block;
        position: relative;
        right: 0;
        top: 0;
    }

    .nav-bar-links a {display: none;}

    .nav-bar-links.responsive {
        width: 100%;
        padding-bottom: 30px;
        margin-top: -50px;
        background-color: #000000;
    }

    .nav-bar-links.responsive .navigation-link {
        position: relative;
        padding-top: 30px;
        padding-bottom: 0;
    }

    .nav-bar-links.responsive .menu-icon{
        position: absolute;
        /*right: 20px;*/
        top: 50px;
    }

    .nav-bar-links.responsive a {
        display: block;
        text-align: left;
    }

    .nav-bar-links a.menu-icon {
        float: right;
        display: block;
    }

    /*------CONTENT STYLING-------------------------------------------------------*/


    .sponsors-image {
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    /*------FOOTER STYLING--------------------------------------------------------*/

}

